NODE_ENV=development
PORT=4000
WEB_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5433/DATABASE?schema=public

ADMIN_FIRST_NAME=Kaynoj
ADMIN_LAST_NAME=Ajquejay
ADMIN_EMAIL=kaynoj98@gmail.com
ADMIN_PASSWORD=change_this_admin_password

SESSION_DURATION_DAYS=7