NODE_ENV=development
PORT=4000
WEB_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5433/DATABASE?schema=public

ADMIN_FIRST_NAME=Kaynoj
ADMIN_LAST_NAME=Ajquejay
ADMIN_EMAIL=kaynoj98@gmail.com
ADMIN_PASSWORD=change_this_admin_password

SESSION_DURATION_DAYS=7

APP_URL=http://localhost:3000

MAIL_MODE=log

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=user@example.com
SMTP_PASSWORD=change_this_password
SMTP_FROM_NAME=Plataforma Kaqchikel
SMTP_FROM_EMAIL=no-reply@example.com

EMAIL_VERIFICATION_TOKEN_HOURS=24
PASSWORD_RESET_TOKEN_MINUTES=30